* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

body {
	height:100vh;
    background: url('/img/001.jpg') no-repeat center center fixed;
    background-size: cover;
    margin:0;
    padding:0;
}

.greetingWrapper{
	height:100%;
    display: flex;           
    flex-direction: column;  
    justify-content: center; 
    align-items: center;     
}

.mainGreeting{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	font-size: 60px;
	margin-top: -30px;
}

.mainTime{
	display: flex;
	flex-direction: row;
	align-items: center;
	color: white;
	font-size: 200px;
}

.mainQuote{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	padding-top: 20px;
    font-size: 30px;
    text-align: center;
    max-width: 75vw;
}

.recentlyVisited{
	display: flex;
	position: absolute;
	height:120px;
	width:100%;
	bottom:10px;
	justify-content: center;
	text-align: center;
	align-items: center;
}
.recentlyVisited:focus{
	outline: none;
}

.toDoList{
	display: flex;
	position: absolute;
	height:300px;
	width:200px;
	top:10px;
	left:10px;
	border: none;
}

.recentlyVisitedItem{
	width: 18%;
}

.partOfDay{
	display: flex;
	font-size: 20px;
	padding-left: 40px;
	padding-bottom: 0px;
}

#currentWeather{
	position: absolute;
	max-height:300px;
	max-width:200px;
	top:17px;
	right:20px;	
}

.weatherIcon{
	max-width: 100%;
	max-height: 6vh;
	object-fit: contain;
	display: block;
    margin: auto;
}

.weatherText{
	color: #fff;
	text-transform: lowercase;
	text-align: center;
}

.socialIcon{
	color: white;
    opacity: 0.7;
    margin-right: 16px;
    margin-left: 16px;
}

.socialIcon:hover{
	opacity: 1;
}

#hotKeys{
	position: absolute;
	top: 10px;
}

.settingsGear{
	color: white;
    position: absolute;
    bottom: 17px;
    left: 20px;
}

.settingsGear:hover{
	cursor: pointer;
}

h3 {
	-webkit-margin-before: 1px;
    -webkit-margin-after: 5px;
}

h2 {
	-webkit-margin-before: 10px;
    -webkit-margin-after: 1px;
}

.name-input-text{
	background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    height: 62px;
    font-size: 60px;
    color: white;
    font-family: "Segoe UI";
    text-align: center;
}