* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

body {
	height:100vh;
    margin:0;
    padding:0;
}

.greetingWrapper{
	align-items: center; 
    display: flex;           
    flex-direction: column;  
	height:100%;
    justify-content: center;     
}

.mainGreeting{
	align-items: center;
	color: white;
	display: flex;
	flex-direction: column;
	font-size: 60px;
	margin-top: -30px;
}

.mainTime{
	align-items: center;
	color: white;
	display: flex;
	flex-direction: row;
	font-size: 200px;
}

.mainQuote{
	align-items: center;
	color: white;
	display: flex;
	flex-direction: column;
	font-size: 30px;
	max-width: 75vw;
	padding-top: 20px;
    text-align: center;
}

.recentlyVisited{
	align-items: center;
	bottom:10px;
	display: flex;
	height:120px;
	justify-content: center;
	position: absolute;
	text-align: center;
	width:100%;
}
.recentlyVisited:focus{
	outline: none;
}

.toDoList{
	display: flex;
	position: absolute;
	height:300px;
	width:200px;
	top:10px;
	left:10px;
	border: none;
}

.recentlyVisitedItem{
	width: 18%;
}

.partOfDay{
	display: flex;
	font-size: 20px;
	padding-bottom: 0;
	padding-left: 40px;
}

#currentWeather{
	max-height:300px;
	max-width:200px;
	position: absolute;
	right:20px;	
	top:17px;
}

.weatherIcon{
	display: block;
    margin: auto;
	max-height: 6vh;
	max-width: 100%;
	object-fit: contain;
}

.weatherText{
	color: #fff;
	text-align: center;
	text-transform: lowercase;
}

.socialIcon{
	color: white;
    margin-left: 16px;
    margin-right: 16px;
    opacity: 0.7;
}

.socialIcon:hover{
	opacity: 1;
}

#hotKeys{
	position: absolute;
	top: 10px;
}

.settingsGear{
    bottom: 17px;
	color: white;
    left: 20px;
    position: absolute;
}

.settingsGear:hover{
	cursor: pointer;
}

h3 {
	-webkit-margin-before: 1px;
}

h2 {
    -webkit-margin-after: 1px;
	-webkit-margin-before: 10px;
}

.name-input-text{
	background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 60px;
    height: 62px;
    outline: none;
    text-align: center;
}

.Emoji--forText {
	height: 35px;
}

a {
    color: white;
	text-decoration: none;
    text-shadow: none;
}

a:hover {
	text-shadow: 0 0 0.2em rgba(253, 253, 253, 0.77), 0 0 0.3em rgba(253, 253, 253, 0.77);
}